<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="myConnectionString"
           connectionString="DATA SOURCE=Pavilion:1521/ORCL;USER ID=DJOLE;PASSWORD=Sifra.2012;PERSIST SECURITY INFO=True"
           providerName="Oracle.ManagedDataAccess.Client" /> 
   </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>